<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi </h3>
    <p>
      You have a new contact form submission<br>
      First Name: <%= @contact.first_name %><br>
      Last Name: <%= @contact.last_name %><br>
      Email: <%= @contact.email %><br>
      Phone: <%= @contact.phone_number %><br>
      Message: <%= @contact.message %><br>
    </p>
  </body>
</html>